@charset "UTF-8";

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to bottom, #1A29EB, #363FC2);
    height: 50px;
}

h1.home {
    color: white;
    padding-top: 10px;
    margin-left: 90px;
}

.perfil{
    background: url('../imagem/perfil-hd-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: yellow;
    box-shadow: inset 2px 2px 20px 2px black;
    background-position: left center;
    margin: auto;
    height: 670px;
    width: 1920px;
}

.apresentacao {
    width: 900px;
    display: block;
    position: relative;
    left: 700px;
    top: 150px;
}

.apresentacao > h1 {
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 1px  black;
}

.apresentacao > h2 {
    color: rgb(33, 188, 188);
    padding: 20px 0px 20px;
    font-size: 3.5em;
    text-shadow: 2px 2px 1px  black;
}

.apresentacao > p {
    color: white;
    font-size: 1.2em;
    text-shadow: 2px 2px 1px  black;
}

.sobremim > h1 { 
    font-weight: bolder;
    padding-top: 30px;
    text-align: center;
}

.sobremim > p {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    padding-top: 30px;
    padding-bottom: 40px;
}

.cards {
    font-weight: bold;
    display: flex;
    justify-content:  center;
    gap: 200px;
    padding-bottom: 40px;
}

.card {
    text-align: center;
}

.skills2 {
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 90px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.ret {
    background-color: black;
    height: 300px;
}

section.contato {
    background-color: #293033;
}

.contato {
    text-align: center;
    padding: 40px;
    padding-right: 100px;
}

.info-contato {
    display: flex;
    justify-content: center;
    gap: 400px;
    margin-top: 40px;
}

.item {
    text-align: center;
}

footer {
    text-shadow: 2px 2px black;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #2D3436;
}