@charset "UTF-8";

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: blue;
    min-height: 100px;
}

header > h1 {
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

nav > a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.imagem {
    background-image: url("/imagem/perfil-2.png");
    background-size: cover;
    background-position: right center;
    box-shadow: inset 3px 3px 13px black;
    height: 400px;
}

.imagem > h1 {
    text-shadow: 3px 3px 4px black;
    color: white;
    text-align: center;
    font-size: 3em;
}

.imagem > p {
    text-shadow: 3px 3px 4px black;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 1.3em;
}

.sobremim {

}

.sobremim > h1 { 
    font-weight: bolder;
    padding-top: 30px;
    text-align: center;
}

.sobremim > p {
    font-size: 1.2em;
    padding-top: 30px;
    text-align: center;
}


.skills2 {
    text-align: center;
}