@charset "UTF-8";

/* Versão para modo retrato */

section {
    background-image: url('../imagens/banner-phone.png');
}

div#perfil {
    background-color: #2402328a;
    border-radius: 10px;
    padding: 4px;
    margin: auto;
    width: 265px;
    position: absolute;
    top: 26%;
    left: 45%;
    transform: translate();
}

div#perfil > h1 {
    font-family: var(--fonte3);
    font-size: 1.5em;
    font-weight: normal;
}

div#perfil > h2 {
    font-family: var(--fonte2);
    font-size: 1.4em;
}

div#perfil > p {
    font-family: var(--fonte3);
}