@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
     --fonte1:  "Press Start 2P", system-ui;
     --fonte2:  "Bungee", sans-serif;
     --fonte3:  "Bebas Neue", sans-serif;
     --fonte4:  "Ubuntu", sans-serif;
     --cor1: #873BBD;
     --cor2: #70458F;
     --cor3: #110F12;
     --cor3: #574266;
     --cor3: #38313C;
     --cor3: #8A05EA;

}

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

header {
    background: linear-gradient(to right, #0e0117, rgb(58, 12, 93));
    height: 70px;
}

main {
    background-color: #300e42;
    box-shadow: inset 0px 0px 20px 9px black;
}

h1.home {
    font-family: var(--fonte1);
    background: linear-gradient(to left, #9642d2, rgb(74, 8, 125));
    background-clip: text;
    color: transparent;
    padding-top: 20px;
    margin-left: 90px;
}

.perfil{
    background-image: url('../imagem/perfil-hd-01.png');
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 20px 9px black;
    min-height: 60vh;
    width: 100%;
}

.apresentacao {
    width: 800px;
    display: block;
    position: relative;
    left: 650px;
    top: 150px;
}

.apresentacao > h1 {
    font-family: var(--fonte3);
    color: white;
    font-size: 4em;
    text-shadow: 3px 3px 7px  black;
}

.apresentacao > h2 {
    font-family: var(--fonte2);
    color:  #4b0b60;
    padding: 20px 0px 20px;
    font-size: 3.5em;
    text-shadow: 2px 2px 13px  #7a2aa9af;
}

.apresentacao > p {
    font-family: var(--fonte2);
    color: white;
    letter-spacing: 3px;
    font-size: 1em;
    text-shadow: 3px 3px 7px  black;
}

.sobremim > h1 { 
    font-family: var(--fonte3);
    color: white;
    font-size: 2.5em;
    letter-spacing: 4px;
    font-weight: bolder;
    padding-top: 30px;
    text-align: center;
    text-shadow: 3px 3px 3px  #7b2aa9;
}

.sobremim > p {
    font-family: var(--fonte4);
    font-style: italic;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    padding-top: 30px;
    padding-bottom: 40px;
}

#mpt {
    padding-bottom: 50px;
    font-family: var(--fonte3);
    color: white;
    font-size: 2.5em;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px  #7b2aa9;
}

.habilidades {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content:  center;
    padding-bottom: 40px;
    gap: 300px;
}

.habilidades > .card img {
    width: 100px;
    border-radius: 8px;
}

.cards {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content:  center;
    padding-bottom: 40px;
}

.cards {
    display: flex;
    gap: 200px;
}

.card {
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.card img {
    width: 180px;
    display: block;
}

.card p {
    padding-top: 15px;
}

.card:hover {
    transform: translateY(-10px);
}

.card:hover img {
    box-shadow: 5px 5px 20px  #4b0b60;
    transform: scale(1.05);
}

.card:hover p {
    color: purple;
}

section.contato {
    color: white;
    background-color: #293033;
}

.contato {
    text-align: center;
    padding: 40px;
}

.info-contato {
    display: flex;
    justify-content: center;
    gap: 160px;
    margin-top: 40px;
}

.item {
    text-align: center;
}

footer {
    text-shadow: 2px 2px black;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #2D3436;
}
